
.card {
    width: 8 px;
    font-family: 'Maven Pro', sans-serif;
    border: 3px solid #1ee7dd;
    border-radius: 10px;
    background-color: #ffffff;
    margin-bottom: 2rem;
    margin-right: 2rem;
    box-shadow: 0 2px 4px rgba(29, 26, 26, 0.2);
    display: flex;
  }
  
  .card-buttons {
    margin-top: auto;
  }

  .card-buttons button {
    border: 1px solid #333;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 10px;
  }
  
  .card-buttons button:hover {
    background-color: #ccc;
    color: #fff;
  }